body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E239D;
    color: #fff;
    font-family: 'impact', sans-serif;
    padding: 20px;
}

h1{
    text-shadow: 4px 4px 0 #000000;
    font-size: 48px;
    text-transform: uppercase;
}

p{
    font-size: 25px;
    font-family: 'roboto', sans-serif;
}

.info{
    width: 450px;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

.meme-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme{
    width: 270px;
    height: 350px;
    border: 2px solid #000;
    background: #FFFFFF;
    overflow: hidden;
    color: #000;
}

.meme h2{
    padding: 8px;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
}

img{
    width: 270px;
    height: 350px;
    object-fit: cover;
    object-position: center;    
}

.btn-vote{
    margin-top: 20px;
    background-color: #1E0737;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'impact', sans-serif;
    box-shadow: 4px 4px 0px #000000;
}

@media screen and (max-width:600px){
    img{
        width: 270px;
        height: 350px;
    }
    h1{
        font-size: 32px;
        margin-left: 30px;
        margin-top: 0;
    }
    .info{
        width: 270px;
        font-size: 14px;
        font-weight: lighter;
    }

    p{
        font-size: 18px;
    }

}

.btn-vote:active {
    transform: scale(0.92); 
    filter: brightness(0.8);
    box-shadow: 0px 0px 0px #000 !important;
    transition: transform 0.1s ease;
}