body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E239D;
    color: #fff;
    font-family: 'impact', sans-serif;
    padding: 20px;
}

h1{
    text-shadow: 4px 4px 0 #000000;
    font-size: 48px;
    text-transform: uppercase;
}
p{
    font-size: 25px;
    font-family: 'roboto', sans-serif;
}

.info{
    width: 450px;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
}

.meme-preview{
    display: flex;
    flex-direction: column;
}

img{
    width: 450px;
    height: 500px;
    object-fit: cover;
    object-position: center;    
}

.btn-vote{
    margin-bottom: 20px;
    background-color: #1E0737;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'impact', sans-serif;
}

@media screen and (max-width:600px){
    img{
        width: 270px;
        height: 350px;
    }
    h1{
        font-size: 32px;
        margin-left: 30px;
        margin-top: 0;
    }
    .info{
        width: 270px;
        font-size: 14px;
        font-weight: lighter;
    }

    p{
        font-size: 18px;
    }

}