body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.8%;
    margin: 1%;
    border-radius: 10px;
}
.fade {
        animation: fadeAnim 0.5s;
    }
    @keyframes fadeAnim {
        from {opacity: .4} 
        to {opacity: 1}
    }

.mySlides img {
    width: 100%;
    height: 500px;      /* Force a height */
    object-fit: cover;  /* Prevents stretching */
    display: block;     /* Removes bottom gaps */
    background-color: #f0f0f0; /* Helps you see if the box exists */
}