body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E239D;
    color: #fff;
    font-family: 'impact', sans-serif;
    padding: 20px;
}

h1{
    text-shadow: 4px 4px 0 #000000;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

label{
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}

.help{
    margin-top: 10px;
    margin-left: 20px;
}

.help:hover{
    opacity: 70%;
}

.input-container,
.input-container div{
    display: flex;
    flex-direction: column;
}

.input-container{ 
    align-items: center;
}

.input-container div{
    gap: 20px;
    margin-top: 50px;
}

.input-container textarea{
    width: 400px;
    height: 70px;
    border: 2px solid #000000;
}

.input-container textarea:focus{
    outline: 0;
}

.input-container button{
    margin-bottom: 20px;
    background-color: #1E0737;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'impact', sans-serif;
}

.input-container button{
    margin-top: 20px;
}

.error{
    width: fit-content;
    color: white; 
    font-weight: bold; 
    margin-top: 8px; 
    display: none; 
    background-color:red;
    padding:1%;
}

.mySlides {
    display: none;
}

.mySlides.active {
    display: block;
}


.slider-image {
    width: 450px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    margin: 0px;
    padding: 0px;
}

.slider-container{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.prev, 
.next{
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    width: auto;
}

.prev:hover, .next:hover,
.button-vote:hover,
.input-container button:hover{
    opacity: 70%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.arrow{
    width: 50px;
    height: auto;
    margin: 10px;
}


@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media screen and (max-width:600px) {
    .slider-image {
        width: 270px;
        height: 350px;
    }

    .prev,
    .next{
        font-size: 24px;
        padding: 8px 15px;
    }

    .input-container textarea{
        width: 300px;
        height: 60px;
        margin: 0px;

    }

    .arrow{
    width: 30px;
    height: auto;
    margin: 0;
    }

    h1{
        font-size: 32px;
        margin-left: 30px;
    }

    label{
        font-size: 18px;
    }

    p{
        font-size: 18px;
    }

    .input-container div{
    gap: 10px;
    margin-top: 5px;
}

.help{
    margin-right: 20px;
}

.prev:hover, .next:hover,
.button-vote:hover,
.input-container button:hover{
    opacity: 100%;
}
}