body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.8%;
    margin: 1%;
    border-radius: 10px;
}
