body{
    text-transform: uppercase;
    background-color: #5E239D;
    color: #fff;
    font-family: 'impact', sans-serif;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

.focus img{
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.meme{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    background: #FFFFFF;
    color: #000;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
}

.meme h2{
    word-break: break-all;
}

.btn-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.btn{
    padding: 10px 40px;
    border: none;
    color: #fff;
}

.btn-ban{
    background-color: #E00000;
}

.btn-ok{
    background-color: #007508;
}

.btn:hover{
    opacity: 70%;
}

@media screen and (max-width:700px) {
    .container{
        flex-direction: column;
    }

    .meme{
        width: 250px;
        height: 300px;
    }

    .btn-container{
        gap: 20px;
    }
}