body{
    background-color: #5E239D;
    color: #FFFFFF; 
    text-transform: uppercase; 
    font-family: Impact, sans-serif; 
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    text-shadow: 2px 2px 0 #000000;

}

h1{
    font-size: 50px;
}
.container{
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}
.button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1E0737;
    padding: 2%;
    font-size: 20px;
}

img{
    width: 100%;
    height: 400px;
    display: block;
}

.GridPosition{
    position: relative; 
    border: 2px solid #000000; 
    background: #FFFFFF;
    margin-top: 10%;
    block-size: fit-content;
}

.GridPosition h2{
    font-size: 24px;
    margin: 1%;
    height: auto;
}
.TextPosition{
    position: absolute; 
    top: 10%; 
    left: 0; 
    width: 100%; 
    text-align: center;
}

@media screen and (max-width: 600px) {
  .grid{
    display: grid; 
    grid-template-columns: 1fr; 
    width: 90%;


    
}
img{
    height: 300px;
}


}