body{
    background-color: #5E239D;
    color: #FFFFFF; 
    text-transform: uppercase; 
    font-family: Impact, sans-serif; 
}

h1{
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    text-shadow: 2px 2px 0 #000000;
}

.container{
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    display: grid; 
    grid-template-columns: 340px 340px; 
    gap: 40px;
}

.button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1E0737;
    padding: 2%;
    font-size: 20px;
}

img{
    width: 336px;
    height: 400px;
    display: block;
}

.GridCell{
    position: relative; 
    border: 2px solid #000000; 
    background: #FFFFFF;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    text-shadow: 2px 2px 0 #000000;
    margin-top: 10%;
    block-size: fit-content;
}


.GridCell h2{
    width: auto;
    font-size: 24px;
    margin: 4%;
    height: auto; 
}


@media screen and (max-width: 600px) {
  .grid{
    display: grid; 
    grid-template-columns: 1fr; 
    width: 90%;
 
    }
    img{
        height: 300px;
    }

    h1{
        font-size: 50px;
        text-align: center; 
        max-width: 350px;   
        margin: 10 auto; 
    }
}