body{
    background-color: #5E239D;
    color: #fff;
    padding: 20px;
    margin: 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.about-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.close{
    margin-top: 8px;
}

.close:hover{
    opacity: 70%;
}

.container{
    margin-bottom: 50px;
}

.container div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

h1, h2{
    text-transform: uppercase;
    font-size: 32px;
    margin: 0;
    text-shadow: 4px 4px 0 #000000;
    font-family: 'impact', sans-serif;
}

p, ul{
    letter-spacing: 1px;
    font-family: 'roboto', sans-serif;
}

.credit{
    list-style: none;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
}

.logo>div{
    display: flex;
    margin-bottom: 20px;
}

.musba{
    width: 200px;
}

.logo-bacc{
    display: block;
    margin: auto;
    width: fit-content;
}

@media screen and (max-width:700px) {
    ul{
        padding-left: 10px;
    }

    .credit{
        padding-left: 0;
    }

    .about-container{
        width: 90%;
    }

    .container{
        width: 100%;
    }

    .container div{
        margin: 0;
    }
}