body{
    background-color: #5E239D;
    color: #fff;
    margin: 0 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    min-height: 100vh;
}

.close{
    margin-top: 20px;
    display: flex;
    align-self: end;
}

.close:hover{
    opacity: 70%;
}

h1{
    margin-top: 70px;
}

h1, h2{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0;
    -webkit-text-stroke:1px rgb(0,0,0);
    text-shadow: 2px 2px 0 #000000;
    font-family: 'impact', sans-serif;
}

p{
    letter-spacing: 1px;
    font-family: 'roboto', sans-serif;
}

.credit{
    list-style: none;
}

.container{
    margin-bottom: 50px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.logo>div{
    display: flex;
    margin-bottom: 20px;
}

.logo-bacc{
    width: fit-content;
}

@media screen and (max-width:700px) {
    .logo img{
        width: 90px;
        height: 25px;
    }

    h1,h2{
        font-size: 20px;
    }

    ul{
        padding-left: 10px;
    }

    .credit{
        padding-left: 0;
    }

    .about-container{
        width: 90%;
    }
    .container{
        width: 100%;
    }
}