body{
    background-color: #5E239D;
    color: #FFFFFF; 
    font-family: 'impact', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    touch-action: manipulation;
    overflow-x: hidden;
}

.button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1E0737;
    padding: 3%;
    font-size: 40px;
    box-shadow: 4px 4px 0px #000000;
}

h1{
    font-size: 50px;
    text-shadow: 4px 4px 0 #000000;
    text-transform: uppercase; 
}

p{
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
/*background animation*/
.wrapper span {
    position: fixed;
    bottom: -80px;
    animation: animate 5s linear infinite;
    font-size: 60px;
    z-index: -1;
}

.wrapper span:nth-child(1){
    left: 120px;
    animation-delay: 0.0s;    
}
.wrapper span:nth-child(2){
    right: 10%;
    animation-delay: 2s;  
}
.wrapper span:nth-child(3){
    right: 20%;
    animation-delay: 1s;    
}
.wrapper span:nth-child(4){
    left: 20%;
    animation-delay: 2s;   
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;    
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 3s;    
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 1s;  
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 4s;    
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 1s;  
}
.wrapper span:nth-child(10){
    left: 100%;
    animation-delay: 2s;    
}


@keyframes animate{
    0% {
        transform: translateY(0);
        opacity: 1
    }
    70%{
        opacity: .6;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);	
        opacity: 0
    }
}


@media screen and (max-width: 600px){
    h1{
        text-align: center; 
        max-width: 350px;   
        margin: 0 auto;     
    }
    
    p{
        text-align: center; 
        max-width: 350px;   
    }
    .wrapper span {
        font-size: 40px;
    }

    .button{
        font-size: 24px;
    }
}

.button:active{
    transform: scale(0.92); 
    filter: brightness(0.8);
    box-shadow: 0px 0px 0px #000 !important;
    transition: transform 0.1s ease;
}