body{
    background-color: #5E239D;
    color: #FFFFFF; 
    text-transform: uppercase; 
    font-family: Impact, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    
}

.button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1E0737;
    padding: 3%;
    font-size: 40px;
}

h1{
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    text-shadow: 2px 2px 0 #000000;
}

p{
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 50px;
        text-align: center; 
        max-width: 350px;   
        margin: 0 auto;     
    }
    p{
        text-align: center; 
        max-width: 350px;   
    }
}