body{
    text-transform: uppercase;
    background-color: #5E239D;
    color: #fff;
    font-family: Impact, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
    text-shadow: 4px 4px 0 #000000;
    margin: 0;
}

.platform{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 140px;
    margin-top: 2%;
}
.bronze{
    background-color: #D9713A;
    width: 210px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 50px;
}

.silver{
    background-color: #C4C4C4;
    width: 210px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 100px;
}

.gold{
    background-color: #D3AF37;
    width: 210px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 200px;
}

.bronze h1{margin-top: 10px;}
.silver h1{margin-top: 10px;}
.gold h1{margin-top: 10px;}

.meme{
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    color: #000;
    font-size: 24px; 
    line-height: 1.1;
    word-break: break-all;
}

.meme p{
    padding: 8px;
}

.portrait{
    width: 300px;
    height: 300px;
    object-fit: cover;
}