body{
    text-transform: uppercase;
    background-color: #5E239D;
    color: #fff;
    font-family: 'impact', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    position: absolute;
    top: 15px;
    right: 90px;
}

h1{
    font-size: 48px;
    text-shadow: 4px 4px 0 #000000;
    margin: 0;
}


.platform{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 140px;
    margin-top: 2%;
}
.bronze{
    background-color: #D9713A;
    width: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 10px;
}

.silver{
    background-color: #C4C4C4;
    width: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 50px;
}

.gold{
    background-color: #D3AF37;
    width: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 90px;
}

.bronze h2{margin-top: 10px; }
.silver h2{margin-top: 10px;}
.gold h2{margin-top: 10px;}

.meme{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    line-height: 1.1;
    word-break: break-all;
    box-sizing: border-box;
}

.meme h2:first-of-type {
    font-family: 'roboto', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    margin: 0;
    height: 80px; 
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.meme p{
    margin-left: 10px;
}

.portrait{
    width: 200px;
    height: 280px;
    margin-top: 4px;
    object-fit: cover;
    object-position: center;
}

.leaderboard-others {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.meme-row {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    gap: 15px;
    width: 200px;
    height: 310px;
    word-break: break-all;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
 .meme-row p{
    font-family: 'roboto', sans-serif;
    text-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    height: 50px;
 }

.small-portrait {
    width: 195px;
    height: 240px;
    object-fit: cover;
    border: 1px solid #000;
}

.rank {
    font-size: 20px;
    font-weight: bold;
    width: 20px;
    text-shadow: 2px 2px 0 #000000;
}

.text-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden; /* Critical for shrink math */
}

.meme-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.1;
    word-break: break-word;
}

.likes-count {
    font-size: 16px;
    white-space: nowrap;
}