body{
    text-transform: uppercase;
    background-color: #5E239D;
    color: #fff;
    font-family: Impact, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    text-shadow: 2px 2px 0 #000000;
    margin-top: 3%;
}

.platform{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 140px;
}
.bronze{
    background-color: #D9713A;
    width: 210px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.silver{
    background-color: #C4C4C4;
    width: 210px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gold{
    background-color: #D3AF37;
    width: 210px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bronze h1{margin-top: 10px;}
.silver h1{margin-top: 10px;}
.gold h1{margin-top: 10px;}