body{
    background-color: #5E239D;
    color: #fff;
    margin: 0 20px;
    font-family: 'impact', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box{
    background-color: #fff;
    color: #000000;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-transform: uppercase;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input { 
    display: block; 
    width: 300px; 
    margin: 20px 0; 
    padding: 10px; 
    box-sizing: border-box; 
}

button { 
    background: #1a0b2e; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    width: fit-content;
    align-self: end;
}
    
button:hover{
    opacity: 70%;
}

