body {
    background-color: #5E239D;
    color: #FFFFFF; 
    text-transform: uppercase; 
    font-family: 'impact', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 10px;
}

h1 {
    margin: 0;
    font-size: 32px;
    text-shadow: 4px 4px 0 #000000;
}

.mySlides {
    width: 260px;
    height: 424px;
    border: 2px solid #000;
    background: #FFFFFF;
    overflow: hidden;
    color: #000;
    margin-top: 15px;
    margin-bottom: 10px;
}

.image {
    width: 260px;
    height: 424px;
    object-fit: cover;
    object-position: center;
}

.vote {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 5px;
    transition: opacity 0.3s ease;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#limitMessage {
    background-color: white;
    width: 260px;
    height: 424px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid black;
    box-sizing: border-box;
}

#limitMessage h2 {
    color: black !important;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

#btnCreateMeme {
    display: block; 
    text-align: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#btnCreateMeme.small {
    background-color: #1E0737;
    padding: 7.5px 15px;
    color: #fff;
    font-size: 16px;
    border: none;
    text-decoration: underline;
    margin-top: 0px;
}

#btnCreateMeme.large {
    background-color: #1E0737;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    border: 2px solid #000;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 4px 4px 0px #000;
    animation: apparitionBouton 0.6s ease-out forwards;
}

@keyframes apparitionBouton {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}
