body{
    background-color: #5E239D;
    color: #FFFFFF; 
    text-transform: uppercase; 
    font-family: Impact, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image{
    width: 336px;
    height: 500px;
    object-fit: cover;
}

.vote{
    display: flex;
    gap: 50px;
    align-items: center;
}

.arrow{
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.mySlides{
    width: 336px;
    height: 500px;
    border: 2px solid #000;
    background: #FFFFFF;
    overflow: hidden;
    color: #000;
    margin-top: 30px;
}

.mySlides h2{
    line-height: 1.1;
    word-break: break-all;
}

.button{
    margin-bottom: 20px;
    background-color: #1E0737;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Impact, sans-serif;
}
    